
:root {
  --bg-color: #A8DADC;
  --bg-shadow-color: #71c3c6;
  --input-color: #F1FAEE;
  --button-color: #457B9D;
  --button-active-color: #6197b9;
  --text-color: #1D3557;
  --err-color: #E63946;

  background: var(--bg-color);
  color: var(--text-color);
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a, a:link, a:visited {
  color: var(--text-color);
}

form {
  display: flex;
  width: 90%;
  position: relative;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 1.6em;
  margin: 0.5em 0;
  border: 0;
  border-radius: 0.2em;
  outline: none;
}

input[type="text"] {
  -webkit-appearance: none;
  margin-right: 0.1em;
  padding: 0.5em;
  box-shadow: inset 0px 2px var(--bg-shadow-color);
  flex-grow: 1;
  background: var(--input-color);
}

input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  background: var(--button-color);
  color: var(--input-color);
  padding: 0.5em 1em;
  margin-left: 0.5em;
  box-shadow: inset 0px -2px var(--text-color);
  cursor: pointer;
}

input[type="button"]:active,
input[type="button"]:disabled,
input[type="submit"]:active,
input[type="submit"]:disabled {
  background: var(--button-active-color);
  box-shadow: none;
}

#info {
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: var(--err-color);
}

.hidden {
  display: none;
}

h1 {
  font-size: 4em;
}

p {
  margin: 0;
  font-size: 1.5em;
}

@media only screen and (max-width: 480px) {
  form {
    flex-direction: column;
  }
  input[type="text"] {
    width: 100%;
  }
  input[type="submit"],
  input[type="button"] {
    margin-left: 0;
  }
}